<%- include('header') %>
<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-8 text-left"> 
        <h1><% title %></h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="item_name">Item Name</label>
                <input type="text" name="item_name" class="form-control" required value="<%= (typeof item == 'undefined' ? '':item.name) %>" >
                <label for="item_description">Item Description</label>
                <input type="text" name="item_description" class="form-control" value=<%= (typeof item == 'undefined' ? '':item.description) %>>
                <label for="item_quantity">Item Quantity</label>
                <input type="text" name="item_quantity" class="form-control" value="<%= (typeof item == 'undefined' ? '':item.quantity) %>" required>
                <label for="item_price">Item Price</label>
                <input type="text" name="item_price" class="form-control" value="<%= (typeof item == 'undefined' ? '':item.price) %>" required>
                <label for="item_category">Item Category</label>
                <select name="item_category" >
                    <% for(category of categories) {%>
                        <option value="<%= category.name %>"><%= category.name %></option>
                    <% } %>
                </select>
                <label for="itemImg">Item Image</label>
                <input type="file" name="itemImg">
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
      </div>
    </div>
  </div>